<h3>Nâo foi possível concluir sua solicitação, você deve estar comentendo algum desses erros</h3>
<ul>
  <li>Tentando criar um lance não estando authenticado</li>
  <li>Tentando criar um lance após o leilão ter acabado</li>
  <li>Tentando criar um lance com dados faltantes importantes</li>
  <li>Tentando cirar um lance em nome de outro usuário</li>
</ul>