<h3>Nâo foi possível concluir sua solicitação, você deve estar comentendo algum desses erros</h3>
<ul>
  <li>Tentando criar uma dúvida não estando authenticado</li>
  <li>Tentando criar uma dúvida após o leilão ter acabado e não ser o ganhador</li>
  <li>Tentando criar uma dúvida com dados importantes faltantes</li>
  <li>Tentando criar uma dúvida em nome de outro usuário</li>
</ul>