<%= turbo_frame_tag "name_ocult_toggle_#{@doubt.id}", target: "_top" do %>
 <span><%= link_to @doubt.user.name, users_profile_path(@doubt.user.id), data: { turbo_frame: "_top" }%> (Oculto)</span>
<% end %>