<%= turbo_frame_tag "batches" do %>
  <%= render 'tabs' %>
  <% if batches.present? %>
    <ul>
      <% batches.each do |batch| %>
        <li><%= link_to batch.code, batch_path(batch.id), "data-turbo-frame": "_top"%></li>
      <% end %>
    </ul>
  <% else %>
    <p>Não existem leilões futuros</p>
  <% end %>
<% end %>
