<ul>
  <li>
    <%= link_to "Leilões em andamento", in_progress_batches_path, class: "nav-link" %>
  </li>
  <li>
    <%= link_to "Leilões futuros", future_batches_path, class: "nav-link" %>
  </li>
</ul>