<%= javascript_include_tag 'initial_tab_open' %>
<ul>
  <li>
    <%= link_to "Leilões em andamento", in_progress_batches_path, id: "tab-1" %>
  </li>
  <li>
    <%= link_to "Leilões futuros", future_batches_path %>
  </li>
</ul>